<div class="row" style="padding:0px;text-align:center;position:fixed;bottom:0px;z-index:999999999999;">
    <div class="col">
        <p class="providence-primary timer" style="text-align:center;margin-top:0px;font-size:20px;" ng-show="!loggedInAccount.publicKey">
            Connect a wallet
        </p>
        <p class="providence-primary timer" style="text-align:center;margin-top:0px;margin-bottom:0px;font-size:20px;" ng-show="loggedInAccount.publicKey">
            ~{{loggedInAccount.rippleName}}
        </p>
        <i class="icon ion-key key" ng-show="!loggedInAccount.publicKey" style="font-size:50px;" ng-click="connectRipplePrompt()"></i>
    </div>
</div>