<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Provichat</title>

    <link href="css/vendor.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="https://d1pzmogk9nquph.cloudfront.net/img/favicon.ico" />

    <script src="https://invest.providence.solutions/socket.io/socket.io.js"></script>

    <script src="js/vendor1.js"></script>

    <script src="cordova.js"></script>

    <script src="js/vendor2.js"></script>

  </head>
  <body ng-app="starter" animation="slide-left-right-ios7">

    <ion-nav-view>

    </ion-nav-view>

    <div class="chatPane" style="height:100%;">
        <div class="row" style="padding-top: 0px;margin-top: 0px;height: 90px;position: fixed;">
            <div class="col" style="padding:0px;text-align:center;">
                <a href="https://providence.solutions" target="_blank"><img src="https://d1pzmogk9nquph.cloudfront.net/img/avatar.png"></a>
            </div>
        </div>
        <div class="row" style="height:100%;margin-top:55px;padding-bottom:59px;">
            <div class="col" style="height:100%;padding:0px;text-align:center;padding-bottom:59px;">
                <div class="list" id="scrolled" style="height:100%; overflow-y:scroll;padding-bottom:42px;overflow-y: scroll;margin-top: 40px;background-color: transparent !important;" keep-scroll>
                    <span class="item item-avatar" style="background-color: transparent !important;" scroll-item ng-repeat="message in chatData.messages | unique: 'hash' | orderBy : 'date' : false">
                        <div class="ava">
                            <h4 class="providence-primary" ng-if="message.username" style="margin-top: 10px;"><a href="https://rippletrade.com/#/send?to=~{{message.username}}" style="color:#14274d;" target="_blank">~{{message.username}}</a></h4>
                            <h4 class="providence-primary copyable" ng-if="!message.username && message.address" style="margin-top: 10px;">{{message.address}}</h4>
                        </div>
                        <p class="providence-primary chatMessage" ng-bind-html="message.message | emoticonize"></p>
                    </span>
                </div>
                <span id="bottom" style="height:5px;" zum-waypoint="waypoints.waypoints" down="position.bottom" up="position.up" offset="5%"></span>
            </div>
        </div>
        <div class="row" style="position: fixed;bottom: 0px;z-index:999999999;">
            <div class="col" style="padding:0px;text-align:center;">
                <div class="list">
                    <div class="item item-input-inset" ng-if="loggedInAccount.publicKey" style="width: 100%;">
                        <form ng-submit="sendMessage()" style="width: 100%;">
                            <label class="item-input-wrapper" style="width: 80%;display: inline-block;">
                                <input type="text" ng-model="chatData.message" class="ng-pristine ng-valid">
                            </label>
                            <button type="submit" ng-class="{ disabled: chatData.sending }" class="button button-small marketing-primary-bg main-font" style="width: 20%;margin-left: 0px;display: inline-block;color: #fff;">
                                <span ng-if="chatData.sending"><i class="icon ion-loading-c" style="height: 24px;width: 25px;"></i></span><span ng-if="!chatData.sending">Send</span>
                            </button>
                        </form>
                    </div>
                    <div class="item" ng-if="!loggedInAccount.publicKey" ng-click="connectRipplePrompt()" style="width: 100%;height:54px;text-align:center !important;">
                        <i class="icon ion-key key" style="font-size:20px;padding:0px;text-align:center !important;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
