@font-face {
    font-family: 'aviano_future_boldbold';
    src: url('../fonts/avianofuturebold-webfont.eot');
    src: url('../fonts/avianofuturebold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avianofuturebold-webfont.woff2') format('woff2'),
    url('../fonts/avianofuturebold-webfont.woff') format('woff'),
    url('../fonts/avianofuturebold-webfont.ttf') format('truetype'),
    url('../fonts/avianofuturebold-webfont.svg#aviano_future_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}